h1 {
  margin-bottom: 0;
}

.wrapper {
  width: 800px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .users {
    margin-right: 15px;
    margin-bottom: 10px;

    .user {
      margin-bottom: 5px;
      width: 130px;

      .isActive {
        color: blue;
      }
    }
  }
}